.conteiner{
    -fx-width: 500px;
    -fx-height: 300px;
    -fx-background: white;
    -fx-border-radius: 8px;
}
conteiner .text{
    -fx-font-size: 12px;
}
.conteiner .input{
    -fx-width: 450px;
    -fx-height: 20px;
    -fx-border-radius: 20px;
}
.conteiner .input:hover{
    -fx-background: green;
}